<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="info" class="com.hcl.pp.model.User"></bean>
	<bean id="service" class="com.hcl.pp.service.UserServiceImpl"></bean>
	<bean id="dao" class="com.hcl.pp.dao.UserDAOImpl"></bean>
	<bean id="security" class="com.hcl.pp.service.SecurityServiceImpl"></bean>
</beans>